body{

font-family:Arial;

background:#f5f5f5;

text-align:center;

padding:80px;

}

h1{

color:#0a63ff;

}

button{

background:#0a63ff;

color:white;

padding:15px;

border:none;

border-radius:8px;

cursor:pointer;

}
